 
:root {
    --max-width: 1024px;
    --dark-color: rgb(16, 17, 16);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    word-wrap: break-word;
}

p {
    margin: 5px 0;
}

.btn-pink{
    background-color: #F3969A !important;
    color: #FFF;
}

.btn-pink:hover{
    background-color: black !important;
    color: #FFF;
}

.btn-pink:active{
    background-color: #ee686e!important;
    color: #FFF;
}

.btn-azul{
    background-color: #348ea0 !important;
    color: #FFF;
}

.btn-azul:hover{
    background-color: #053741 !important;
    color: #FFF;
}

.btn-azul:active{
    background-color: black !important;
    color: #FFF;
}

.max-width {
    max-width: var(--max-width);
    width: 100%;
}

.logo {
    max-width: 40px;
    width: 100%;
}

.ck-editor__editable_inline {
    min-height: 300px;
}

.color-pink{
    color: #F3969A;
}

 .fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}